@inject IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json

@{
    var clubInfo = HttpContextAccessor.HttpContext.Request.Cookies["ClubInfo"];
    Club club = null;

    if (!string.IsNullOrEmpty(clubInfo))
    {
        var clubData = JsonConvert.DeserializeObject<Club>(clubInfo);
        club = clubData;
        @* club = await ClubService.GetClubByIdAsync(clubData.Id); *@
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mercato</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mercato.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Player/ListPlayers">Mercato</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Player/PlayerTransfertList">Acheter un
                                joueur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Transfert/TransferRequests">Offres
                                Reçues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Transfert/MesOffres">Mes Offres</a>
                        </li>
                       
                      
                    </ul>
                      
                    <span class="navbar-text">
                                Club: @club.Name | Budget: @club.Budget €
                    </span>
                    <a class="nav-link text-dark" asp-area="" asp-page="/index">Deconnexion</a>
                    @* <form method="post" asp-page="/" class="form-inline">
                    <button type="submit" class="btn btn-link text-dark">Déconnexion</button>
                    </form> *@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Mercato - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>