
@model IEnumerable<Club>

@{
    Layout = "_Layout";
}

<h1>Liste des Clubs</h1>

<div class="row">
    @foreach (var club in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                @if (!string.IsNullOrEmpty(club.Image))
                {
                    <img src="~/images/clubs/@club.Image" class="card-img-top" alt="Logo du club">
                }
                <div class="card-body">
                    <h5 class="card-title">@club.Name (@club.Code)</h5>
                    <p class="card-text">Budget: @club.Budget</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Bouton pour afficher la liste des joueurs du club -->
                       <a href="/Player/ListPlayersBtClub?clubId=@club.Id" class="btn btn-sm btn-primary">Joueurs</a>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
