@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>Login</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .login-container {
            max-width: 400px;
            margin: auto;
            margin-top: 100px;
        }

        .login-card {
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            background-color: #ffffff;
        }

        .login-btn {
        @*background-color:#007bff;color:#ffffff;*@
        }
    </style>
</head>

<body>
    <div class="container login-container">
        <div class="card login-card">
            <h1 class="display-4 text-center">MERCATO</h1>
            @* <p class="text-center">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps
            with ASP.NET Core</a>.</p> *@

            <form method="post">
                <div class="form-group">
                    <label for="username">Code Club</label>
                    <input type="text" class="form-control" id="username" name="username"
                        placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password"
                        placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary login-btn btn-block">Login</button>

            </form>
            <a class="btn btn-success login-btn btn-block" href="./Clubs/RegisterModel">Inscription</a>
        </div>
    </div>





    <!-- Optional: jQuery and Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UoT8F+3QvLCpLqG7LW3nNjhBntiYfN2p2cXM5HHLtF5hFoMw15hJqg2OM0Ze7L6p"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
