@page
@model Mercato.Pages.LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
    Layout = null; // Utilisez null si vous ne souhaitez pas de layout pour cette page spécifique
}

<h1>Déconnexion</h1>

<p>Vous êtes sur le point de vous déconnecter...</p>
